Source: salt-eventsd
Section: devel
Priority: optional
Maintainer: Volker Schwicking <vs@hosteurope.de>
Build-Depends: debhelper (>= 7.0.50),
               python | python-all | python-dev | python-all-dev,
               python-setuptools,
Standards-Version: 3.9.3
Homepage: http://saltstack.org
#X-Python-Version: >= 2.6, <= 2.7


Package: salt-eventsd
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         python,
         salt-master,
         python-mysqldb,
         python-simplejson,
         python-zmq,
         python-yaml
Description: A configurable daemon that listens on salts event-bus. It can react 
 on configurable events like new_jobs, job-returns, etc. and put those events 
 into mysql-database. This is more flexible than the salt-masters job-cache and
 also provides a databse with historic data.
